/*
 * -------------------------------------------------
 *  Nextflow config for Association/genotype
 * -------------------------------------------------
 * Default parameters and resources for the genotype
 * sub-pipeline (FILTER_VCF, KINSHIP_ANALYSIS,
 * POPULATION_STRUCTURE, GENOTYPE_STATS).
 */

params {
  // --- Required Parameters ---
  // working directories
  home_dir = null
  src_dir = null
  user_dir = null
  output_dir = null
  // working identifiers
  mod = null
  job = null

  // --- Optional Parameters ---
  process_dir = null
  filter_dir = null
  assess_dir = null
  stats_dir = null
  kinship_dir = null
  ps_dir = null
  
  // Show help and exit
  help = false
}

process {
  // Global defaults
  cpus = 16
  memory = '64 GB'

  withName: vcf_to_plink {
    cpus = 16
    memory = 64.GB
  }
}

executor {
  name = 'local'
  cpus = 64
  memory = 512.GB
}

trace {
  enabled = true
  file = 'pipeline_info/trace.txt'
  fields = 'task_id,hash,name,tag,status,exit,cpus,memory,attempt,duration,realtime,%cpu,%mem,rss,peak_rss,vmem,peak_vmem,read_bytes,write_bytes,submit,start,complete'
  overwrite = true
}

resume = true
