process {
  withName: /.*/ {
    errorStrategy = 'retry'
    maxRetries = 1
    maxErrors = '-1'
    shell = ['/usr/bin/env','bash','-euo','pipefail','-c']
  }
}

profiles {
  standard {
    executor = 'local'
    process.cpus = 2
    process.memory = '4 GB'
  }
}

params {
  outdir = 'Association/output'
}
