process {
    executor = 'local'
    cpus = 8
    memory = 64.GB
    errorStrategy = 'ignore'

    withLabel: cpus_16 {
        cpus = 16
        memory = 128.GB
    }

    withLabel: cpus_32 {
        cpus = 32
        memory = 256.GB
    }

    withLabel: cpus_64 {
        cpus = 64
        memory = 512.GB
    }

    withLabel: 'cpus_128' {
        cpus = 128
        memory = 1024.GB
    }

    withLabel: 'fastcall3_disc' {
        cpus = { params.chr ? 96 : 16 }
        memory = { (params.chr ? 256.GB : 96.GB) + (16.GB * task.attempt) }
        maxForks = 8
        errorStrategy = 'retry'
        maxRetries = 3
    }

    withLabel: 'fastcall3_blib' {
        cpus = { params.chr ? 96 : 16 }
        memory = { (params.chr ? 256.GB : 128.GB) + (8.GB * task.attempt) }
        errorStrategy = 'retry'
        maxRetries = 3
    }

    withLabel: 'fastcall3_scan' {
        cpus = { params.chr ? 96 : 64 }
        memory = { (params.chr ? 768.GB : 640.GB) + (128.GB * task.attempt) }
        errorStrategy = 'ignore'
    }

    withLabel: 'fastcall3_scan2' {
        cpus = { params.chr ? 32 : 96 }
        memory = { (params.chr ? 1408.GB : 1152.GB) + (128.GB * task.attempt) }
        errorStrategy = 'ignore'
    }
}

executor {
    name = 'local'
    cpus = 128
    memory = 1792.GB
}
