/*
 * Parallelism for sample_chr_miss.nf (one plink2 --missing task per chrNNN.thin pfile).
 */
params.sample_chr_miss_max_forks = 8

process {
    withName: 'plink2_sample_missing_per_chr' {
        cpus = 4
        memory = '8 GB'
        maxForks = params.sample_chr_miss_max_forks ?: 8
    }
    withName: 'collect_sample_chr_miss' {
        cpus = 1
        memory = '4 GB'
    }
}
